---
---

/********** Imports **********/

@import "_reset";
@import "_variables";
@import "_mixins";
@import "_highlights";
@import "_typography";
@import "_base";
@import "_header";
@import "_footer";


/********** Global Styling **********/
article {
  @include radius($pad);
  background: $bg;
  padding: $pad;
}

.note {
  @include font-size(1.6);
  color: $bg;
  font-style: italic;
}


/********** Layout/Sections **********/
.container {
    margin: 0 auto;
    max-width: 740px;
    overflow: hidden;
    width: 100%;
}
.content { background: $bg; padding: 0 $pad $pad*2 $pad; }

.active   { background: $bg; }
.date     { font-style: italic; color: $text; margin-top: 5px; }
.post     { margin-top: $pad*2; }
.comments { margin-top: $pad; }


/********** Comparisons **********/
.listStuff {
  color: #999999;
}
.arrows {
  @include font-size(1.4);
  margin-right: 5px;
  display: none;
}
.name {
  @include transition(opacity, 0.3s, ease);
  line-height: 34px;
  opacity: 0;
  position: absolute;
  @include mobile {
    display: none;
  }
}
.comparisons>li { cursor: alias; }
.comparisons>li:hover>.name { opacity: 1; }

.comparisons {
  @include font-size(2);
  list-style: none;
  margin: 0;
  padding-left: 0;
}
.comparisons .titlefont {
  @include font-size(2.6);
  color: $highlight;
  padding: 0 5px;
  text-transform: lowercase;
}
.compare-form { margin-top: $pad; }

.compare-word {
  @include font-size(2.6);
  background: rgba(255,255,255,0.1);
  border: rgba(255, 255, 255, 0.2) 1px solid;
  color: $highlight;
  font-family: $titlefont;
  line-height: $touch;
  margin-bottom: $pad;
  padding: 0 $pad;
  width: 200px;
  @include mobile {
    text-align: center;
    width: 100%;
  }
}
.compare-submit[disabled] {
  opacity: 0.1;
  cursor: not-allowed;
  &:hover { background-color: $highlight; opacity: 0.1; }
}

.compare-text {
  display: inline;
  line-height: $touch;
  margin: 0 $pad;
  @include mobile {
    display: block;
  }
}

.compare-submit {
  @include font-size(3);
  @include transition(background-color, 0.3s, ease);
  line-height: 26px;
  background: $highlight;
  border: 0;
  color: $text;
  cursor: pointer;
  font-family: $font;
  height: $touch;
  line-height: $touch;
  margin-left: $pad;
  padding: 0 5px;
  vertical-align: top;
  &:hover { background-color: darken($highlight, 20%); }
  @include mobile {
    display: block;
    margin: $pad auto;
    width: 100%;
  }
}


.alert-error {
  background: rgba($highlight, 0.1);
  border: rgba($highlight, 0.3) 1px solid;
  display: none;
  margin: 0;
  padding: 5px 0;
}
