{% if site.footer-links.blog %}
<a href="{{ site.footer-links.blog }}"><i class="fa fa-user footer-icon"></i></a>
{% endif %}

{% if site.footer-links.github %}
     <a href="http://github.com/{{ site.footer-links.github }}">{% include svg-icons/github.html %}</a>
{% endif %}

{% if site.footer-links.instagram %}
     <a href="http://instagram.com/{{ site.footer-links.instagram }}">{% include svg-icons/instagram.html %}</a>
{% endif %}

{% if site.footer-links.linkedin %}
     <a href="http://linkedin.com/in/{{ site.footer-links.linkedin }}">{% include svg-icons/linkedin.html %}</a>
{% endif %}

{% if site.footer-links.rss %}
     <a href="{{ site.baseurl }}/feed.xml">{% include svg-icons/rss.html %}</a>
{% endif %}

{% if site.footer-links.twitter %}
     <a href="http://twitter.com/{{ site.footer-links.twitter }}">{% include svg-icons/twitter.html %}</a>
{% endif %}

{% if site.footer-links.stackoverflow %}
     <a href="http://stackoverflow.com/{{ site.footer-links.stackoverflow }}">{% include svg-icons/stackoverflow.html %}</a>
{% endif %}
