@import "_variables.scss";

/********** Header **********/
header { background: $bg; }
nav { 
	background: $text;
	color: $bg; 
	height: $navheight;
	padding: 0 $pad; 
	position: relative;
}

.logo {
	@include radius(50%);
	background: $highlight;
	color: $text;
	display: block;
	height: 40px;
	width: 40px;
	margin-left: -20px;
	position: absolute;
	left: 50%;
	top: 5px;
}

.logo:before {
	@include font-size(5);
	content: '\2260';
	font-family: $heading;
	display: block;
	line-height: 21px;
	text-align: center;
}

.navitem { 
	color: $bg;
	line-height: $pad; 
	border-bottom: 1px solid $bg;
	padding-bottom: 0px;
	margin-top: 18px;
	&:first-of-type { float: left; }
	&:last-of-type  { float: right; }
	&:hover { border-color: $highlight; color: $highlight; }
}

.title 		  	  { padding: $pad*2 0; }
.title>.isnot 	  { @include font-size(8); }

.title>.titlefont {
    margin-bottom: 10px;
    position: relative;
    text-align: center;
    z-index: 1; 
}
.title>.titlefont:before {
    border-top: 5px solid $highlight;
    content:"";
    margin: 5px auto 0;
    position: absolute;
    top: 50%; left: 0; right: 0; bottom: 0;
    width: 100%;
    z-index: -1;
}
.title>.titlefont>span { background: $bg; padding: 0 $pad*2; }