
/***********************/
/* SYNTAX HIGHLIGHTING */
/***********************/

@import "_variables.scss";

.highlight {
  background-color: $text;
  padding: 5px 10px;
  margin: 20px 0;
}

.highlight pre {
  /* overflow: scroll; Prefer no word wrap? Uncomment this line and comment out the 2 lines below. */
  word-break: break-all;
  word-wrap: break-word;
}

code {
  font-family: 'Courier', monospace;
  font-size: 14px;
  color: $gray-lt;
}
