@mixin font-size($sizeValue: 1.6) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}

@mixin placeholder {
  ::-webkit-input-placeholder {@content};
  :-moz-placeholder           {@content};
  ::-moz-placeholder          {@content};
  :-ms-input-placeholder      {@content};  
}

@mixin transition($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}

@mixin radius($amnt) {
  -webkit-border-radius: $amnt;
  -moz-border-radius: $amnt;
  -ms-border-radius: $amnt;
  -o-border-radius: $amnt;
  border-radius: $amnt;
}

/********* Breakpoints **********/
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}