@import url(http://fonts.googleapis.com/css?family=EB+Garamond|Dancing+Script|Oswald:700);

/********** Colors **********/
$bg: 		    #333333;
$text: 		  #fff; // keep for consistency with font-awesome
$highlight: #37BC97;
$gray-lt:   #999999;


/********** Variables **********/
$pad: 		15px;
$navheight: 50px;
$touch:		40px;


/********** Font Stack **********/
$heading: 	'Oswald', sans-serif;
$font: 		'EB Garamond', serif;
$titlefont: 'Dancing Script', cursive;
