<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>

    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    <meta name="author" content="{{ site.name }}" />
    <meta name="description" content="{{ site.description }}">

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

  </head>

  <body>
    <!--{% include nav.html %}-->
    <header>
        <nav>
            <section class="container">
                <a href="http://javascript.about.com/od/reference/p/javascript.htm" class="navitem titlefont">what is javascript?</a>
                <span class="logo"></span>
                <a href="http://java.about.com/od/gettingstarted/a/whatisjava.htm" class="navitem titlefont">what is java?</a>
            </section>
        </nav>
        <h1 class="container title">
            <div class="titlefont"><span>javascript</span></div>
            <div class="isnot">IS NOT</div>
            <div class="titlefont"><span>java</span></div>
        </h1>
    </header>
    <section class="content">
        <div id="main" role="main" class="container">
            {{ content }}
        </div>
    </section>
    <div class="container">
        <footer class="footer">
        {% include svg-icons.html %}
       <!--  <p class="note">javascriptisnotjava.io reserves the right to remove any content for any reason at any time. Because it's my site, and I can.</p> -->
        </footer>
    </div>

    {% include analytics.html %}
  </body>
</html>
